header, section, footer {
	padding: 1em calc(50% - 350px);
}

footer {
	background: #333;
	color: white;
}

header {
	background: orange;
	color: white;
}

section + section {
	background: #eee;
}

body {
	margin: 0;
	font: 100%/1.5 sans-serif;
}