li{ 
	float: left;
	width: 50px;
	height: 50px;
	list-style: none;
	border: 1px solid black;
}

.clearfix::after{
	content:"";
	display:block;
	clear:both;
	visibility:hidden;
}

.test1 li:first-child:nth-last-child(n+4),
.test1 li:first-child:nth-last-child(n+4) ~ li{
    background: #66ccff;
}

.test2 li:nth-child(n+4){
    background: #66ccff;
}